.bg-teal {
  background-color: var(--primary-color) !important;
}

.text-navy {
  color: var(--secondary-color) !important;
}

.transition-all {
  transition: all 0.3s ease;
}

.max-w-400 {
  max-width: 400px;
}

.last-border-0:last-child {
  border-bottom: none !important;
}

.custom-checkbox .form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.bg-login-gradient {
  background: linear-gradient(293.29deg, #40878E 0%, rgba(255, 255, 255, 0.5) 49.36%, #EFECE4 98.72%);
}

.pointer {
  cursor: pointer;
}